ul {
  list-style: square outside;
  background-color: tomato;
}

ol {
  list-style-type: lower-greek;
  background-color: black;
  color: tomato;
}

ul > li {
  background-color: yellow;
}

ul li:nth-child(even) {
  background-color: blue;
  color: white;
}

ul > li:hover {
  background-color: purple;
  color:green;
}

ol > li:hover {
  background-color: aqua;
  color:brown
}